
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";



@import "utilities";

@import "mixins";

@import "layout/grid";

@import "layout/sections";

@import "layout/base";

@import "layout/animations";

@import "components/modal";

@import "components/polaroids";

@import "components/buttons";


@import "typography/typography_gen";
@import "typography/typography_special";




  

  
  
  /*nav {
    position: absolute;
    top: 30px;
    right: 40px;
  }
  
  .navbar {
    border: 1px solid #fff;
    padding: 20px 40px;
  }
  
  .navbar:link,
  .navbar:visited  {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
  }*/
  
  
  
  
  

  .video {

    &__container {
      width: 100%;
      background-color: transparent;
      margin-bottom: 2rem;

      &--title {
        color: gray;
        font-size: 55px;
        font-weight: 80;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: center;
      }
    }

    &__vid {
      width: 80%;
      height: 45rem;
      margin-top: 25rem;
      @include centerMe;
      box-shadow: 10px 10px 10px 0 rgba(0,0,0, 0.7);
    }
  }
  
  // .video {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     height: 100%;
  //     width: 100%;
  //     overflow: hidden;

  //     &__container {
  //       height: 500%;
  //       width: 50%;
  //       object-fit: scale-down;
  //   }
  // }

 




  // .box {
  //   padding: 10rem;
  //   perspective: 250rem;
  //   position: relative;
  //   transition: all .8s ease;
    
  //   &--1 {
  //     background-color: blue;
  //   }
  //   &--2 {
  //     background-color: green;
  //   }

  //   &--3 {
  //     background-color: teal;
  //   }
    
  //   &:hover {
  //     transform: rotateY(-180deg);
  //   }
  
  // }
  







.dates {

  &__show {
    position: relative;
    
    font-size: 3rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

    &__date {
      float: right;
    }

    &__address {

      vertical-align: bottom;
    }

    &__button {

    }
  }
}


// .mustache {
//   width: 180px;
//   height: 180px;
//   border-radius: 50%;
//   position: absolute;
//   left: 80px;
//   color: black;
//   box-shadow: 
//     150px 240px 0 0 currentColor,
//     300px 240px 0 0 currentColor;

//     &:before {
//       content: "";
//       position: absolute;
//       top: 120px;
//       left: 30px;
//       width: 210px;
//       height: 120px;
//       border-bottom: solid 180px currentColor;
      
//       border-radius: 0 0 0 100%;
//       transform: rotate(-40deg);
//       transform-origin: right 210px;
//     }

//     &:after {
//       content: "";
//       position: absolute;
//       top: 120px;
//       left: 390px;
//       width: 210px;
//       height: 120px;
//       border-bottom: solid 180px currentColor;
      
//       border-radius: 0 0 100% 0;
//       transform: rotate(40deg);
//       transform-origin: left 210px;
//     }
// }

