
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";



@import "utilities";

@import "mixins";

@import "layout/grid";

@import "layout/sections";

@import "layout/base";

@import "layout/animations";

@import "components/modal";

@import "components/polaroids";

@import "components/buttons";


@import "typography/typography_gen";
@import "typography/typography_special";




  

  
  
  /*nav {
    position: absolute;
    top: 30px;
    right: 40px;
  }
  
  .navbar {
    border: 1px solid #fff;
    padding: 20px 40px;
  }
  
  .navbar:link,
  .navbar:visited  {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
  }*/
  
  
  
  
  

  
  
  
  
  
  
  
  
  
 

  .video {

    &__container {
      width: 100%;
      background-color: transparent;
      margin-bottom: 2rem;

      &--title {
        color: gray;
        font-size: 55px;
        font-weight: 80;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: center;
      }
    }

    &__vid {
      width: 80%;
      height: 45rem;
      margin-top: 25rem;
      @include centerMe;
    }
  }
  
  // .video {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     height: 100%;
  //     width: 100%;
  //     overflow: hidden;

  //     &__container {
  //       height: 500%;
  //       width: 50%;
  //       object-fit: scale-down;
  //   }
  // }

 












.dates {

  &__show {
    position: relative;
    
    font-size: 3rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

    &__date {
      float: right;
    }

    &__address {

      vertical-align: bottom;
    }

    &__button {

    }
  }
}


